<h1>Welcome!</h1>

<mat-card>
  <mat-card-content>
    <form [formGroup]="signupform" (ngSubmit)="submit()">
      <h2>Sign Up</h2>
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstname" name="firstname" required>
        <mat-error>
          Please add your first name.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastname" name="lastname" required>
        <mat-error>
          Please add your last name.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" name="email" required>
        <mat-error>
          <div *ngIf="emailRequired">Email is required.</div>
          <div *ngIf="emailPattern">Please, enter valid email address.</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" name="password" required>
        <mat-error>
          <div *ngIf="passwordRequired">Password is required.</div>
          <div *ngIf="passwordLength">Password should be a minimum of eight characters.</div>
          <div *ngIf="passwordPattern">Password should contain lower and uppercase letters.</div>
          <div *ngIf="!isPasswordValid">Password should not contain your first or last name!</div>
        </mat-error>
      </mat-form-field> 
      <button mat-raised-button color="primary" [disabled]="signupform.invalid">Sign Up</button>  
    </form>
  </mat-card-content>
</mat-card>
